.reset-m {
  margin: 0 !important;
}

@include mq(xxsmall) {
  @for $i from 1 through 250 {
    .m-t-#{$i}-xxs {
      margin-top: #{$i}px;
    }
  }

  @for $i from 1 through 250 {
    .m-t-min-#{$i}-xxs {
      position: relative;
      margin-top: -#{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-r-#{$i}-xxs {
      margin-right: #{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-r-min-#{$i}-xxs {
      position: relative;
      margin-right: -#{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-b-#{$i}-xxs {
      margin-bottom: #{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-b-min-#{$i}-xxs {
      position: relative;
      margin-bottom: -#{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-l-#{$i}-xxs {
      margin-left: #{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-l-min-#{$i}-xxs {
      position: relative;
      margin-left: -#{$i}px;
    }
  }
}

@include mq(xsmall) {
  @for $i from 1 through 250 {
    .m-t-#{$i}-xs {
      margin-top: #{$i}px;
    }
  }

  @for $i from 1 through 250 {
    .m-t-min-#{$i}-xs {
      position: relative;
      margin-top: -#{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-r-#{$i}-xs {
      margin-right: #{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-r-min-#{$i}-xs {
      position: relative;
      margin-right: -#{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-b-#{$i}-xs {
      margin-bottom: #{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-b-min-#{$i}-xs {
      position: relative;
      margin-bottom: -#{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-l-#{$i}-xs {
      margin-left: #{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-l-min-#{$i}-xs {
      position: relative;
      margin-left: -#{$i}px;
    }
  }
}

@include mq(small) {
  @for $i from 1 through 250 {
    .m-t-#{$i}-sm {
      margin-top: #{$i}px;
    }
  }

  @for $i from 1 through 250 {
    .m-t-min-#{$i}-sm {
      position: relative;
      margin-top: -#{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-r-#{$i}-sm {
      margin-right: #{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-r-min-#{$i}-sm {
      position: relative;
      margin-right: -#{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-b-#{$i}-sm {
      margin-bottom: #{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-b-min-#{$i}-sm {
      position: relative;
      margin-bottom: -#{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-l-#{$i}-sm {
      margin-left: #{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-l-min-#{$i}-sm {
      position: relative;
      margin-left: -#{$i}px;
    }
  }
}

@include mq(medium) {
  @for $i from 1 through 250 {
    .m-t-#{$i}-md {
      margin-top: #{$i}px;
    }
  }

  @for $i from 1 through 250 {
    .m-t-min-#{$i}-md {
      position: relative;
      margin-top: -#{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-r-#{$i}-md {
      margin-right: #{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-r-min-#{$i}-md {
      position: relative;
      margin-right: -#{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-b-#{$i}-md {
      margin-bottom: #{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-b-min-#{$i}-md {
      position: relative;
      margin-bottom: -#{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-l-#{$i}-md {
      margin-left: #{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-l-min-#{$i}-md {
      position: relative;
      margin-left: -#{$i}px;
    }
  }
}

@include mq(large) {
  @for $i from 1 through 250 {
    .m-t-#{$i}-lg {
      margin-top: #{$i}px;
    }
  }

  @for $i from 1 through 250 {
    .m-t-min-#{$i}-lg {
      position: relative;
      margin-top: -#{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-r-#{$i}-lg {
      margin-right: #{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-r-min-#{$i}-lg {
      position: relative;
      margin-right: -#{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-b-#{$i}-lg {
      margin-bottom: #{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-b-min-#{$i}-lg {
      position: relative;
      margin-bottom: -#{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-l-#{$i}-lg {
      margin-left: #{$i}px;
    }
  }

  @for $i from 1 through 100 {
    .m-l-min-#{$i}-lg {
      position: relative;
      margin-left: -#{$i}px;
    }
  }
}
