.social-media-inline {
  display: block;
  padding: 0 !important;
  text-align: center;
  border: 0 !important;
  margin-top: 30px;
  margin-bottom: 20px !important;

  li {

    a {

      img {
        max-width: 18px;
      }

      @include mq(small) {
        img {
          max-width: 16px;
        }
      }

      @include mq(medium) {
        img {
          max-width: 12px;
        }
      }

      @include mq(large) {
        img {
          max-width: 16px;
        }
      }

    }// a
  }// li
}// social-media-inline

@include mq(small) {
  .social-media-inline {
    text-align: left;
  }
}

@include mq(medium) {
  .social-media-inline {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0 !important
  }
}
