.navbar {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;

  .container {

    .col-sm-2 {

      img {
        max-width: 100px;
      }// img
    }// columns

    @include mq(xsmall) {
      .col-sm-2 {

        img {
          max-width: 130px;
        }// img
      }// columns
    }

    .icon-menu {
      margin-top: 12px;
      float: right;
      cursor: pointer;
    }

    .navbar-collapse {
      display: none;
    }

    @include mq(medium) {
      .navbar-collapse {
        display: block !important;

        .list-unstyled {
          border: 0;
          margin-top: 0;
          margin-left: 65px;

          li {
            margin-right: 20px;
            display: inline;
          }
        }
      }
    }

    .col-md-7 {

      ul {
        // margin-left: 25px;
        padding-top: 15px;
        padding-left: 0;
        border-top: 1px solid $black;
        // display: none;

        li {

          a {
            font-family: $font2;
            letter-spacing: 1px;
            color: $black;
          }// a
        }// li
      }// ul
    }// columns

    .col-md-3 {
      @include clearfix;
      text-align: right;

      a {
        text-decoration: none;
        font-family: $font2;
        font-size: 14px;
        letter-spacing: 0.9px;
        color: $black;
        text-align: right !important;

        .btn-success {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          padding: 7px;
        }// btn-success

        .btn-default {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border: 1px solid $green;
          padding: 6px 10px
        }// btn-default: ;
      }// a
    }// columns
  }// container
}// navbar
